::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: #232827;
    overflow: hidden;
    border: 2px solid #282e2d;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #4dbfa125;
    border: 2px solid #4dbfa1;
    border-radius: 20px;
}

@keyframes enter {
    from {
        opacity: 0;
        filter: blur(500px);
    }
    to {
        opacity: 1;
        filter: blur(0px);
    }
}

@keyframes main_page_repeat {
    from {
        filter: drop-shadow(0px 0px 100px #4dbfa175) drop-shadow(0px 0px 100px #4dbfa100);
    }

    50% {
        filter: drop-shadow(0px 0px 200px #4dbfa1) drop-shadow(0px 0px 100px #4dbfa150);
    }

    to {
        filter: drop-shadow(0px 0px 100px #4dbfa175) drop-shadow(0px 0px 100px #4dbfa100);
    }
}

body {
    animation-duration: 1s;
    animation-name: enter;
    background-color: #1d2120;
    padding: 20px;
    color: #e6fff6;
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 16px;
}
header {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 20px;
    backdrop-filter: blur(15px);
    border-radius: 25px;
    background-color: #232827;
    overflow: hidden;
    border: 2px solid #282e2d;
    overflow-y: hidden;
    overflow-x: auto;
}
header img {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    user-select: none;
}
header h2 {
    margin-left: 10px;
}
.header_left_buttons {
    display: flex;
    align-items: center;
    width: 100%;
}
.header_center_buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.header_right_buttons {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}
header button {
    background-color: #38403e40;
    color: #e6fff677;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    margin: 0px 5px;
    border: 1.5px solid #4dbfa100;
    border-width: 0px;
    font-family: "Montserrat Alternates", sans-serif;
    transition: background-color 0.5s, color 0.5s, transform 0.5s, margin 0.5s, border 0.5s;
    user-select: none;
    font-weight: 450;
    font-size: 14px;
}
header .selected {
    color: #4dbfa1;
    filter: drop-shadow(0px 0px 30px #4dbfa1);
    background-color: #4dbfa115;
}
header .normal {

}
header button:hover {
    background-color: #4dbfa125;
    color: #e6fff6;
    transform: scale(1.1);
    margin: 0px 10px;
    border: 1.5px solid #4dbfa1;
}
main {
    margin: 10px 0px;
    border-radius: 25px;
    height: calc(100vh - 40px - 80px - 120.407px - 7px);
    overflow-y: auto;
    overflow-x: hidden;
}
footer {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 20px;
    backdrop-filter: blur(15px);
    border-radius: 25px;
    background-color: #232827;
    overflow: hidden;
    border: 2px solid #282e2d;
    overflow-y: hidden;
    overflow-x: auto;
}
.section_main {
    background: #4dbfa110;
    height: calc(100vh - 40px - 80px - 120.407px - 7px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
}
.section_main img {
    height: 100px;
    width: 100px;
}
.tech_works {
    background: #4dbfa110;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
}
.tech_works img {
    height: 100px;
    width: 100px;
}
.section_main h1 {
    margin-bottom: 0px;
}
.section_main p {
    margin-top: 5px;
}
.particle {
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 1px;
    background-color: #4dbfa1;
    border-radius: 50%;
    filter: blur(30vh);
    z-index: 2;
}
.section_main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(2px);
    z-index: 4;
}
.section_main_about_us {
    margin: 10px;
    color: #e6fff6;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.section_main_about_us p {
    text-align: center;
    max-width: 500px;
    width: 80%;
}
.section_main_our_features {
    margin: 10px;
    color: #e6fff6;
    border-radius: 25px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.section_main_our_features td {
    width: 33.3%;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
}
.section_main_our_features_content {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(10px);
    width: calc(100% - 20px - 20px);
    border: 2px solid #4dbfa111;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section_main_our_features_content .text {
    margin: 0px;
}
.section_main_our_features_content .title {
    margin: 5px 0px 10px 0px;
    font-size: 24px;
}
.section_main_our_features table {
    padding: 0px 10%;
}